<h2>Subscription Types</h2>
<div class="tabs">
    <a routerLink="all" routerLinkActive="tab-active"><span class="material-symbols-outlined">
            menu
        </span>All types</a>
    <a routerLink="add" routerLinkActive="tab-active"><span class="material-symbols-outlined">
            add
        </span>Add type</a>
    <a routerLink="remove" routerLinkActive="tab-active"><span class="material-symbols-outlined">
            delete
        </span>Remove type</a>
</div>
<router-outlet></router-outlet>