.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(80, 80, 178);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

h1,
a {
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout-btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}

.logout-btn:hover {
    background-color: white;
    color: #6f6af8;
}