<div class="section-title">
    <span class="material-symbols-outlined">
        article
    </span>
    <h2>Articles</h2>
</div>
<div class="navigation">
    <a routerLink="all" routerLinkActive="navigation-active">
        <span class="material-symbols-outlined">
            reorder
        </span>
        All</a>
    <a routerLink="add" routerLinkActive="navigation-active">
        <span class="material-symbols-outlined">
            add
        </span>
        Add</a>
    <a routerLink="remove" routerLinkActive="navigation-active">
        <span class="material-symbols-outlined">
            delete
        </span>
        Remove</a>
</div>
<router-outlet></router-outlet>